header {
    background-color: rgb(12, 3, 94);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    color: white;
}


h1 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

section {
    margin: 0 auto
}


.discography {

    padding: 0px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    font-weight: 900;
    color: black;
}

.headline-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 0px;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
}

.jazz-night {
    background-color: rgb(12, 3, 94);
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    
}

.nextto{
    display: flex;
    justify-content: space-between;
}

.textyellow {

    color: rgba(254,191,0,255);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 45px;
    
}

.textyellowsmall {
    color: rgba(254,191,0,255);
    text-align: left;
    margin-bottom: 40px;
    font-size: 25px;

}

.textwhite {
    color: white;
    text-align: left;
    font-size: 17px;
    margin-bottom: 25px;
}

.textpink {
    color: rgba(254,59,57,255);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 45px;
    
}

.textpinksmall{
    color: rgba(254,59,57,255);
    text-align: left;
    margin-bottom: 40px;
    font-size: 25px;
}

.blue-jazz {
    background-color: rgb(12, 3, 94);
    padding: 20px;  
    border: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 80px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.small-jazz-pic {
    width: 135px;
    height: 75px;
}

.big-jazz-pic {
    width: 275px;
    height: 275px;
    margin: 5px;
}

.small-pics{
    display: flex;
    justify-content: space-around;

}
footer {
    background-color: rgb(12, 3, 94);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    color: white;
}

p span {
    display: block;
  }